/* line 12, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#inicio {
  background-image: url(../img/img-2.png), url(../img/2-arvore-dir.png), url(../img/13-ceu.png), url(../img/5-arvores.png);
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: left ,  right bottom, 00, 00; }

/* line 19, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
nav.navbar {
  opacity: 0.5; }
  /* line 24, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  nav.navbar ul .nav li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px; }

/* line 33, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#aboutme {
  background-color: #372d3b; }

/* line 36, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#habilidades {
  background-color: #372d3b; }

/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/
/* line 52, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
h1 {
  font-weight: 700;
  font-size: 77px;
  margin: 0;
  padding: 0;
  color: #d94362;
  font-family: "Roboto Slab", serif; }

/* line 61, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
ul {
  display: inline-block;
  list-style: none;
  padding-left: 0; }

/* line 67, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
li {
  padding-bottom: 5%; }

/* line 71, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
a:hover {
  color: #d94362;
  transition: color 50ms; }

/* line 77, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
a:active, a:hover {
  outline: 0; }

/* line 80, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#proyecto {
  background-image: url(../img/nuevo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c4415d; }

/* line 87, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-button {
  display: inline-block;
  border: 2px solid #ffffde;
  border-radius: 7px;
  text-align: center;
  line-height: 70px;
  width: 300px;
  height: 70px;
  font-weight: 500;
  font-size: 20px; }

/* line 99, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-description a {
  color: #ffffde;
  text-decoration: none; }

/* line 104, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-button:hover {
  background: #ffffde;
  color: #c4415d; }

/* line 110, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-title {
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 30px; }

/* line 115, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-description {
  font-size: 20px;
  margin-bottom: 40px; }

/* line 121, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#contacto {
  background-image: url(../img/1-teto.png), url(../img/camada4-teto-arvores.png), url(../img/fundo.png);
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: left ,  right bottom, 00;
  padding-bottom: 500px; }

/* line 131, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.contacto .row .iconos .icono {
  width: 50px;
  font-size: 35px;
  color: black; }

/* line 141, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.icono {
  font-size: 35px;
  color: black;
  list-style: none; }

/*********@media**************/
@media (max-width: 1199px) {
  /* line 151, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item {
    width: 100%; } }

@media (min-width: 700px) {
  /* line 158, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .navbar {
    text-align: center; } }

@media (max-width: 600px) and (min-width: 350px) {
  /* line 166, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item-button {
    margin-bottom: 20px;
    text-align: center; }
  /* line 171, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  #adorno {
    display: none; }
  /* line 174, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .about {
    display: none; }
  /* line 178, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .descripcion {
    width: 100%; }
  /* line 181, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item-description {
    display: none; }
  /* line 184, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item-title {
    display: inline-block;
    font-size: 20px; }
  /* line 189, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  #proyecto {
    width: 100%; } }

/*# sourceMappingURL=index.css.map */